/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Default Css */
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html{
  overflow-x: hidden !important;
}
body{
  font-family: 'Poppins';
  font-weight: 400;
  color: #363940;
  overflow-x: hidden;
  background: #F1F2F6;
  padding-right: 0px !important;
}
ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  width: 100%;
}
.text_64{
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.text_32{
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.text_20{
  color: #222;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.pera_text{
  color: #898685;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.pera_bold{
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.blue_bg{
  background: #2F65C6;
}
/* .container{
  max-width: 1364px;
  padding: 0px 22px;
  width: 100%;
  margin: auto;
} */

.btn_1{
  border-radius: 10px;
  background: #1DAE3D;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  padding: 16px 20px;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.btn_1 img{
  width: 24px;
  height: 24px;
}
.btn_1:hover{
  background: rgb(11 139 39);
  color: #FFF;
}

.btn_2{
  font-size: 13px;
  font-weight: 600;
  line-height: 140%;
  border-radius: 60px;
  padding: 6px 11px;
  background: #1DAE3D;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn_2 img{
  width: 16px;
  height: 16px;
}
.c-giallo{
  color: #FFCB0F;
}
/* ===================================================================
                            Header Area CSS Start
====================================================================*/
.header-area{
  background:  #2F65C6;
  margin-bottom: -1px;
}
.header-main{
  position: relative;
  padding: 32px 0px;
}
.header-menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-logo a img{
  max-width: 104px;
}
.header-nav nav ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 45px;
}
.header-nav nav ul li a{
  color: rgba(217, 217, 217, 0.40);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
}
.header-nav nav ul li a.active{
  color: #FFF;
  font-weight: 600;
}
.header-nav nav ul li a::after{
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 0;
  height: 3px;
  background: #FFF;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.header-nav nav ul li a.active::after{
  width: 0%;
}
.header-nav nav ul li a img{
  width: 32px;
  margin-left: -13px;
  margin-right: -13px;
}
.header-nav nav ul li a:hover{
  color: #FFF;
}
.header-nav nav ul li a:hover::after{
  width: 100%;
}
.header-nav nav ul .notification_img1 a:hover::after{
  width: 0;
}
.header-nav nav ul .notification_img2 a:hover::after{
  width: 0;
}
.header-nav nav ul .desk_header_btn a:hover::after{
  width: 0;
}
.mobile_wallet{
  display: none;
}
.index_mobile_wallet{
  padding-top: 40px;
}
.header_btn{
  color: #FFF !important;
  border-radius: 10px;
  border: 2px solid #FFF;
  padding: 9px 20px;
}
.header-nav nav{
  position: relative;
}
.mobile_btn {
  position: absolute;
  border-bottom: 30px;
  display: none;
  width: 166px;
  padding: 10px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  margin-left: 22px;
  bottom: 62px;
}
.login_btn{
  background: #1DAE3D;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.login_btn:hover{
  color: #FFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.logout_btn{
  background: #C62F2F;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.logout_btn:hover{
  color: #FFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
/* ===================================================================
                           Notifiche Page Css Start
====================================================================*/
.notification_box_main{
  position: absolute;
  top: 69px;
  right: 0;
  margin-top: 20px;
  max-width: 296px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 99999;
}
.notification_box_main.show{
  visibility: visible;
  opacity: 1;
}
.notification_box{
  position: relative;
  width: 100%;
  height: 255px;
  background: #FFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 25px;
  padding: 22px 11px 0px 11px;
  overflow-y: scroll;
}
.header-nav nav ul .notification_img2{
  display: none;
}
.notification_img2{
  position: relative;
}
.mobile_notification {
  display: none;
  right: 50px;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}
.notification_img2::after{
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  background: #FFF;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg) ;
      -ms-transform: translateX(-50%) rotate(45deg) ;
          transform: translateX(-50%) rotate(45deg) ;
  bottom: -33px;
  z-index: 999999;
}
.notification_box::-webkit-scrollbar {
  display: none;
}
.notification_box {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.single_notification{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 19px 0px;
  border-top: 1px  solid #89868554;
}
.notification_box .single_notification:first-child{
  padding-top: 0px;
  border-top: none;
}
.btn_2{
  font-size: 13px;
  font-weight: 600;
  line-height: 140%;
  border-radius: 60px;
  padding: 6px 11px;
  background: #1DAE3D;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn_2:hover{
  color: #FFF;
}
.btn_2 img{
  width: 16px;
  height: 16px;
}
.btn2_danger{
  background: #C62F2F;
}
.fa-bell{
  font-size: 30px !important;
}
.mobile_notification .fa-bell{
  color: rgba(217, 217, 217, 0.40);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
.mobile_notification .fa-bell:hover{
  color: #FFF;
}
.dots{
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  background: #C62F2F;
  border-radius: 50px;
  z-index: 99999;
  right: 0px;
} 
.notification_img2 .fa-bell{
  color: #FFF !important;
}
/*Start Mobile Menu icon*/
.mobile-menu {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  display: none;
}
#nav-icon {
  width: 28px;
  height: 23px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #FFF;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
#nav-icon span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
#nav-icon span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -2px;
  left: 2px;
}
#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 18px;
  left: 2px;
}
/*End Mobile Menu icon*/


/* ===================================================================
                          Ricerca Page Css Start
====================================================================*/
.ricerca_banner_content{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 22px 0px;
}
.ricerca_banner_content .text_64{
  padding-bottom: 48px;
}
.ricerca_banner_content .text_64 span{
  color: #FFCB0F;
}
.barra_ricerca_main{
  background: #FFF;
  padding: 24px;
  border-radius: 20px;
}
.barra_ricerca_main .nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.nav-tabs .nav-link {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
  border-radius: 10px;
  color: #2F65C6;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  background: rgba(47, 101, 198, 0.10);
  margin-bottom: 16px;
}
.barra_ricerca_main .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--blue, #2F65C6);
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #2F65C6;
  opacity: 0.4000000059604645;
  border-radius: 10px;
}

.nav-tabs {
  border-bottom: none;
}
.barra_tab_content form label{
  display: block;
}
.barra_tab_content form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 16px 20px;
}
.barra_tab_content .banner_content_left{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  width: 100%;
}
.barra_tab_input input{
  padding: 16px;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.40);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border: none;
  outline: none;
  width: 100%;
}
.barra_tab_input .form-select{
  padding: 16px;
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 0.40);
  background-image: url(../images/chevron-down.png);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  border: none;
  outline: none;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-size: 24px;
  cursor: pointer;
}
.barra_tab_input.select_input{
  max-width: 382px;
  min-width: 170px;
  width: 100%;
  position: relative;
}
.barra_tab_input.select_input::after{
  position: absolute;
  content: "";
  right: 45px;
  bottom: 8px;
  background: #898685;
  height: 39px;
  width: 2px;
  opacity: 0.30000001192092896;
}
.barra_tab_input label{
  padding-bottom: 10px;
}
.barra_tab_input #from_date{
  padding-left: 54px;
}
#from_date::-webkit-calendar-picker-indicator{ 
  background-image: url(../images/calendar-clear.svg);
  background-size:20px 20px;
  position: absolute;
  bottom: 20px;
  left: 14px;
  cursor: pointer;
}
.barra_tab_input #to_date{
  padding-left: 54px;
}
#to_date::-webkit-calendar-picker-indicator{ 
  background-image: url(../images/calendar-clear.svg);
  background-size:20px 20px;
  position: absolute;
  bottom: 20px;
  left: 14px;
  cursor: pointer;
}

.banner_content_right a{
  display: block;
}

.calender_date{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 16px;
  width: 100%;
}
.calender_date .date_input{
  flex-basis: 50%;
}
.barra_tab_input.search_input{
  max-width: 382px;
  min-width: 170px;
  width: 100%;
}
.barra_tab_input.date_input {
  max-width: 180px;
  min-width: 110px;
  width: 100%;
}
.barra_tab_input #search{
  padding-left: 54px;
}
.barra_tab_input{
  position: relative;
}
.barra_tab_input span{
  position: absolute;
  left: 16px;
  bottom: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.input_after{
  position: relative;
}
.input_after::before{
  position: absolute;
  content: "";
  left: 45px;
  bottom: 8px;
  background: #898685;
  height: 39px;
  width: 2px;
  opacity: 0.30000001192092896;
}
.gray_btn{
  border-radius: 10px;
  opacity: 0.10000000149011612;
  background: #2F65C6;
  padding: 15px 60px;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  border: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.success_blue_btn{
  border-radius: 10px;
  background: #2F65C6;
  padding: 15px 50px;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  border: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.success_blue_btn:hover{
  color: #FFF;
  background: #124CB3;
}
.gray_btn:hover{
  opacity: 1;
  color: #fff;
}
.Oppure_link{
  text-align: center;
  padding-top: 18px;
}
.Oppure_link a{
  padding: 0px 6px;
  color: rgba(217, 217, 217, 0.40);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.Oppure_link a:hover{
  color: #FFF;
}
.Oppure_link .active{
  color: #FFF;
  font-weight: 600;
}
.ricerca_mie_area{
  padding-bottom: 46px;
}
.ricerca_mie_main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.mobile-show{
  display: none;
}
.ricerca_mie_bottom{
  padding-top: 46px;
  padding-bottom: 30px;
}
.others{
  padding-bottom: 50px;
}


/* ===================================================================
                          Ricerca2 Page Css Start
====================================================================*/

.ricerca_banner_content2{
  padding: 0px;
}
.white_bg{
  background: #FFF;
}


/* daynamic_table Start CSS */
.daynamic_table{
  max-width: 1256px;
  padding: 0px 22px;
  width: 100%;
  margin: auto;
}
.daynamic_table .table>:not(caption)>*>* {
  padding: 26px 39px 26px 39px;
  background-color: var(--bs-table-bg);
  border-bottom-width: 0px;
}
.daynamic_table .table {
  margin-bottom: inherit;
}
.daynamic_table tbody tr td{
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}
.daynamic_table thead tr th{
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  color: #898685;
}
.daynamic_table tbody tr{
  border-bottom: 1px solid #F1F2F6;
}
.daynamic_table tbody tr:last-child{
  border-bottom: none;
}
.daynamic_table tbody tr td label img{
  width: 25px;
  margin-top: -4px;
}
.form-check-input {
  margin-top: 2px;
  margin-right: 10px;
}
th.table_head_first {
  padding-left: 53px !important;
}

/* Scrollbar */
.table-responsive {
  white-space: nowrap;
}
/* Firefox */
.daynamic_table{
  overflow: hidden;
}
.table-responsive::-webkit-scrollbar {
  height: 0.2rem;
}

.table-responsive::-webkit-scrollbar-track {
  background: #efefef;
}
.table-responsive::-webkit-scrollbar-thumb {
  background: #c9cacc;
  border-radius: 20px;
}
.table_container{
  width: 100%;
  background: #FFF;
  border-radius: 20px;
}
.daynamic_table .text_32{
  padding-top: 32px;
  padding-bottom: 24px;
}
.load_more{
  margin-top: 17px;
  padding-bottom: 100px;
}
.load_more a i{
  padding: 0px 12px;
  font-size: 20px;
}
.load_more .pera_text{
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.load_more .pera_text:hover{
  color: #363940;
}
.load_more .gray_btn{
  display: block;
  float: right;
  padding: 15px 50px;
  margin-top: 39px;
  text-align: center;
}

.Ricerca_Table_mobile{
  padding-top: 15px;
  display: none;
}
.main_table_mobile_recerca{
  padding-bottom: 16px;
}
.Table_mobile_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  padding-bottom: 15px;
}
.ricerca_table_item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px 0px;
}
.single_ricerca_item{
  padding: 12px;
  width: 100%;
  background: #FFF;
  border-radius: 20px;
  border: 2px solid transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.single_ricerca_item:hover{
  border: 2px solid #2F65C6;
}
.single_ricerca_item .pera_bold{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.single_ricerca_item .normal_pera{
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  padding: 6px 0px;
}
.single_ricerca_item .pera_text img{
  width: 20px;
}
.card_price{
  padding-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* ===================================================================
                          Pagamento Page Css Start
====================================================================*/
.pagamento_content{
  padding: 20px 0px;
}
.pagamento_area .text_32{
  color: #2F65C6;
}
.pagamento_area .text_32 i{
  padding-right: 16px;
}
.payment_card_area{
  padding-top: 32px;
}
.payment_card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px 64px;
  padding-bottom: 30px;
}
.payment_card_left{
  max-width: 332px;
  width: 100%;
}
.single_payment_top .text_20_gray{
  color: #898685;
  padding-top: 6px;
}
.single_payment_content .pera_text{
  font-weight: 500;
}
.payment_content_top{
  width: 100%;
  background: #FFF;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}
.single_payment_content{
  padding-top: 38px;
}
.single_payment_content .pera_bold{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #8986852f;
  margin-bottom: 12px;
}
.payment_content_bottom .pera_bold{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.payment_content_bottom{
  width: 100%;
  background: #FFF;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  margin-top: 16px;
}
.payment_card_right{
  max-width: 834px;
  width: 100%;
  padding-top: 24px;
}
.paper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFF;
  padding: 24px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.paper_left{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 10px;
}
.paper_left img{
  width: 24px;
}
.paper_right img{
  height: 28px;
  width: auto;
}
.wallet{
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  background: transparent;
  padding: 22px;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #2F65C6;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.wallet:hover{
  background: #FFF;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid transparent;
}
.wallet_left{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 10px;
}
.wallet_left img{
  width: 32px;
}

/* Giornata in vendita Modal */
.Giornata_modal_width{
  max-width: 874px;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 16px 82px 0px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 16px 82px 0px rgba(0, 0, 0, 0.32);
  padding: 24px;
}
.Giornata_modal_width .modal-header {
  padding: 0;
  border-bottom: none;
  padding-bottom: 17px;
}
.Giornata_modal_width .modal-content {
  border: none;
}
.Giornata_modal_width .btn-close {
  width: 60px;
  height: 60px;
  background: transparent url("../images/modal_close.png")no-repeat scroll center center / cover;
  opacity: 1;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.modal-backdrop.show {
  background-color: #FFF;
  opacity: 0.7;
}
.Giornata_modal_width .modal-body{
  padding: 0px;
}
.giornata_modal_body .pera_bold{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #89868528;
  padding-bottom: 12px;
  margin: 32px 10px 12px 0px;
}
.giornata_modal_body .pera_text{
  padding-bottom: 6px;
}
.giornata_modal_body .text_20{
  padding-bottom: 6px;
}
.Giornata_modal_width .modal-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px 0px 0px;
  border-top: none;
}
.Giornata_modal_width .btn_danger {
  background: #C62F2F;
  padding: 14px 53px;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  border-radius: 10px;
}

/* ===================================================================
                            Portfolio Page CSS Start
====================================================================*/
/* ===================================================================
                            Ciao Area CSS Start
====================================================================*/
.ciao-headline-section{
  background: #FFF;
  padding: 20px 0;
}
.ciao-headline .text_32{
  color: #2F65C6;
}
/* ===================================================================
                            Ciao Area CSS End
====================================================================*/


/* ===================================================================
                            Dati Wallet Area CSS Start
====================================================================*/
.dati-wallet-area{
  max-width: 1256px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
  padding: 32px 0 46px 0;
}
.dati-wallet-left{
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.dati-wallet-right{
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.dati-wallet-area .dati-title{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 16px;
}
.dati-wallet-area .dati-title .text_20{
  color: #898685;
}
.dati-wallet-area .dati-title .pera_text{
  color: #898685;
  text-decoration: underline;
  transition: 0.5s;
}
.dati-wallet-area .dati-title .pera_text:hover{
  color: #2F65C6;
}
.dati-wallet-card{
  border-radius: 20px;
  background: #FFF;
  padding: 24px;
  -webkit-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
}
.dati-card-title{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding-bottom: 24px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.dati-title-inner{
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.dati-title-inner .text_20:nth-child(1){
  color: #898685;
  padding-bottom: 6px;
}
.dati-email .text_20:nth-child(1){
  color: #898685;
  padding-bottom: 6px;
}

.wallet-title{
  padding-bottom: 16px;
}
.wallet-title .text_20{
  color: #898685;
}
.wallet-card-title{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wallet-card-text .text_20{
  color: #898685;
  margin-bottom: 6px;
}
.wallet-card-text .text_64{
  color: #222;
}
.wallet-card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.wallet-card-button .btn_1:nth-of-type(1){
  background: #A03DDC;
  margin-bottom: 24px;
}
.wallet-card-button .btn_1:nth-of-type(1):hover{
  background: rgb(111 5 173);
}

.border-gray{
  max-width: 1704px;
  width: 100%;
  margin: auto;
  height: 1px;
  background: rgba(217, 217, 217, 0.40);
}
/* ===================================================================
                            Dati Wallet Area CSS End
====================================================================*/


/* ===================================================================
                            Mio Mie Area CSS Start
====================================================================*/
.mio-mie-area{
  max-width: 1256px;
  width: 100%;
  margin: auto;
  padding: 46px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
}
.mio-left-title{
  padding-bottom: 16px;
}
.mio-mie-left{
 max-width: 600px;
 width: 100%;
}
.mio-left-card{
  border-radius: 20px;
  background: var(--bianco, #FFF);
  -webkit-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
}
.mio-left-card-inner{
  width: 100%;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.mio-left-card-text{
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.mio-left-card-text2{
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.mio-left-card-text .text_20:nth-of-type(2){
  color: #898685;
  padding-top: 7px;
}
.mio-left-card-text2 .text_20{
  color: #898685;
}

.mie-right-title{
  padding-bottom: 16px;
}
.mie-right-title .text_32{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mie-right-title .text_32 img{
  width: 32px;
  height: 32px;
}

.mie-card-group{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  
}
.mio-mie-right{
  max-width: 688px;
  width: 100%;
}
.mobile-slider{
  display: none;
}
.mie-right-card{
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
  padding: 16px;
  max-width: 332px;
  width: 100%;
}
.mie-right-card .text_20{
  padding: 6px 0;
}
.mie-right-card2 .mie-text-btn{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mie-right-card2 .mie-text-btn .btn_2{
  margin-top: -4px;
  margin-right: -5px;
}
/* ===================================================================
                            Mio Mie Area CSS End
====================================================================*/


/* ===================================================================
                            Mie Slider Area CSS Start
====================================================================*/
.mie-slider-area2{
  max-width: 1256px;
  width: 100%;
  margin: auto;
  padding-bottom: 30px;
}
.mie-slider-area2 .mie-slider-title{
  padding: 46px 0 24px 0;
}
.ricerca_mie_area .mie-slider-title{
  padding: 32px 0 24px 0;
}
.mie-slider-main .mie-right-card{
  cursor: pointer;
}
.modal-backdrop.show {
  background-color: #FFF;
  opacity: 0.6;
}
.mie-slider-area .modal-content {
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 16px 82px 0px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 16px 82px 0px rgba(0, 0, 0, 0.32);
  border: none;
  padding: 24px;
}
.mie-slider-area .modal-dialog {
  max-width: 882px;
}
.modal-title-group{
  padding: 10px 0 16px 16px;
}
.modal-title-group .text_32{
  padding-bottom: 3px;
}
.modal-title-group .pera_text{
  color: #898685;
  font-weight: 500;
}
.mie-slider-area .modal-header{
  padding: 0;
  border-bottom: none;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.mie-slider-area .btn-close {
  background: transparent url("../images/cross.svg")no-repeat scroll center center / cover;
  opacity: 1;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  max-width: 48px;
  width: 100%;
  height: 48px;
}
.mie-slider-area .modal-body{
  padding: 24px;
  border-radius: 20px;
  background: #FFF;
  -webkit-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
}
.mie-slider-area .modal-body-inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 142px;
     -moz-column-gap: 142px;
          column-gap: 142px;
}
.mie-slider-area .modal-body-left .text_20:nth-of-type(2){
  color: #898685;
  padding-top: 7px;
}
.mie-slider-area .modal-body-right .text_20{
  color: #898685;
}
.mie-slider-area .modal-pricing{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #dee2e6;
  padding: 40px 16px 24px 16px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.mie-slider-area .modal-pricing .pera_text{
  color: #222;
}
/* ===================================================================
                            Mie Slider Area CSS End
====================================================================*/
/* ===================================================================
                            Portfolio Page CSS End
====================================================================*/



/* ===================================================================
                            Ritiro Credito Page CSS Start
====================================================================*/
/* ===================================================================
                            Ritiro Credito headline CSS Start
====================================================================*/
.ritiro-headline{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.ritiro-headline img{
  width: 32px;
  height: 32px;
}
/* ===================================================================
                            Ritiro Credito headline CSS End
====================================================================*/


/* ===================================================================
                            Ritiro Credito Area CSS start
====================================================================*/
.ritiro-credito-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
  margin-left: 10px;
  padding-top: 32px ;
  padding-bottom: 30px;
}
.credito-balance-area{
  max-width: 332px;
  width: 100%;
}
.credito-names-card{
  border-radius: 20px;
  background: #FFF;
  padding: 16px;
  margin-bottom: 15px;
}
.credito-card-inner{
  margin-top: 26px;
}
.credito-inner-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #8986854f;
}
.credito-inner-flex .pera_text{
  color: #222;
}
.credito-names-card .text_20:nth-of-type(2){
  color: #898685;
  padding-top: 6px;
}
.credito-balance-card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  background: #FFF;
  padding: 16px;
}
.credito-balance-card .pera_text{
  color: #222;
}
.credito-form-area{
  max-width: 834px;
  width: 100%;
}
.credito-form-area form{
  border-radius: 20px;
  background: #FFF;
  padding: 24px;
}
.credito-form-area .form-title{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding-bottom: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.credito-form-area .form-title img{
  width: 24px;
  height: 24px;
}
.credito-form-area .input-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  padding-bottom: 24px;
}
.credito-form-area .input-flex .form-group:nth-of-type(1){
  max-width: 365px;
  width: 100%;
}
.credito-form-area .input-flex .form-group:nth-of-type(2){
  max-width: 225px;
  width: 100%;
}
.credito-form-area form label{
  display: block;
  padding-bottom: 10px;
  color: #222;
}
.credito-form-area form input{
  color: #222;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.40);
  border: none;
  padding: 16px;
}
.credito-form-area form input:focus{
  outline: none;
}
.credito-form-area .input-flex input{
  width: 100%;
}
.credito-form-area .form-group2 input{
  max-width: 611px;
  width: 100%;
  margin-bottom: 24px;
}
.credito-form-area .form-group3{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}
.credito-form-area .form-group3 input{
  max-width: 143px;
  width: 100%;
}
.credito-form-area .form-group3 label{
  padding-bottom: 0;
}
.credito-form-area form input[type=submit]{
  border-radius: 10px;
  background: #898685;
  border: none;
  padding: 19px;
  max-width: 273px;
  width: 100%;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.credito-form-area form input[type=submit]:hover{
  background: #2F65C6;
}
/* ===================================================================
                            Ritiro Credito Area CSS End
====================================================================*/
/* ===================================================================
                            Ritiro Credito Page CSS End
====================================================================*/



/* ===================================================================
                            Modal CSS Start
====================================================================*/
.conferma-page-modal .modal-dialog {
  max-width: 874px;
}
.conferma-page-modal .modal-footer {
  padding: 0;
  border-top: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.conferma-page-modal .modal-footer button{
  padding: 16px;
  border-radius: 10px;
  max-width: 170px;
  width: 100%;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.conferma-page-modal .modal-footer button:nth-of-type(1){
  border: 1px solid #C62F2F;
  background: #FFF;
  color: #C62F2F;
}
.conferma-page-modal .modal-footer button:nth-of-type(2){
  border: none;
  background: #2F65C6;
  color: #FFF;
}
.conferma-page-modal .modal-footer button:nth-of-type(2):hover{
  background: #124cb3;
}
.conferma-page-modal .modal-footer button:nth-of-type(1):hover{
  background: #C62F2F;
  color: #FFF;
  border-color: transparent;
}
.conferma-page-modal .modal-footer>* {
  margin: 0;
}
.conferma-page-modal .modal-title-group {
  padding: 11px 0 1px 0px;
}
.conferma-page-modal .conferma-modal-pricing {
  padding: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8px 0 24px 0;
}
.conferma-page-modal .conferma-modal-pricing .pera_text{
  color: #222;
}
/* ===================================================================
                            Modal CSS End
====================================================================*/




/* start home pages css */
.home_banner_content h1 {
	padding: 47px 0 16px;
}
.home_banner_main_area{
  background: url('../images/home_banner.png') no-repeat scroll 0 0 / cover;
}
.home_banner_content p {
	max-width: 636px;
	width: 100%;
	padding-bottom: 42px;
}
.btn_blue {
	color: #FFF !important;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	display: inline-block;
	padding: 20.5px 90.5px;
	border-radius: 10px;
	background: #2F65C6;
	-webkit-box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.25);
	        box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.25);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.btn_blue:hover{
  background: #124CB3;
}
.home_banner_content {
	padding-left: 25px;
	padding-bottom: 389px;
}

/* Start login pages css */
.login_pages_main_area {
	background: #2F65C6;
}
.login_form_main_area form {
	border-radius: 20px;
	background: #FFF;
	padding: 24px;
	gap: 16px;
	max-width: 522px;
	width: 100%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.submit_btn{
  text-align: right;
  margin-bottom: 0;
}
.login_single_form_items button {
	color: #FFF;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	display: inline-block;
	padding: 16.5px 58.5px;
	border-radius: 10px;
	background: #2F65C6;
	outline: none !important;
}
.login_single_form_items {
	margin-bottom: 16px;
}
.login_single_form_items input {
	color: #898685;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	border-radius: 10px;
	background: rgba(217, 217, 217, 0.40);
	padding: 16.5px 16px;
	outline: none !important;
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
}
.login_single_form_items label {
	color: #898685;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
  margin-bottom: 10px;
}
.login_title_area {
	padding-bottom: 32px;
	padding-left: 15px;
}
.login_forgett a {
	color: #FFF !important;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	display: inline-block;
}
.singby_google > span {
	color: rgba(217, 217, 217, 0.40);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	display: block;
	text-align: center;
	margin-bottom: 13px;
}
.login_forgett {
	text-align: center;
	margin: 22px 0 30px;
}
.login_another_option {
	max-width: 522px;
	width: 100%;
	padding-bottom: 44px;
}
.singby_google a {
	color: #020203;
	font-family: Inter;
	font-size: 15.904px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 13px 37.5px 11.5px 44px;
	background: #FFF;
	border: 1px solid #C7C6C6;
	border-radius: 15px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.singby_google a span{
  margin-left: 15px;
}
.singby_google {
	text-align: center;
}
.login_pages_content {
	padding-left: 65px;
	padding-top: 90px;
}
.forget_submit_btn button {
	display: inline-block;
	padding: 16.5px 65px;
}
.forget_submit_btn {
	text-align: right;
	margin-bottom: 0;
}
.forget_password_area{
  padding-bottom: 251px;
}
.send_mail_messages p {
	color: #898685;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
}
.send_mail_messages > span {
	color: #222;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	display: inline-block;
	margin-top: 11px;
}
.send_mail_messages p span {
	margin-left: 10px;
}
.show_sucess_messages {
	padding-bottom: 330px;
}

.required input:required:invalid {
  border-color: red;
}


/* ===================================================================
                            Dashboard Hero CSS Start
====================================================================*/
.dashboard-hero{
  background: #2F65C6;
}
.dashboard-hero-area{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-bottom: 47px;
}
.dashboard-hero-title{
  padding: 0 24px 24px 24px;
}
.dashboard-hero-title .pera_text{
  color: #FFF;
}
.dashboard-hero-btn{
  padding: 0 24px;
  display: flex;
  column-gap: 45px;
}
.dashboard-hero-btn a{
  display: flex;
  column-gap: 12px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 24px;
  color: #2F65C6;
  transition: .3s;
  align-items: center;
}
.dashboard-hero-btn a:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.dashboard-hero-btn a img{
  width: 24px;
  height: 24px;
}
/* ===================================================================
                            Dashboard Hero CSS End
====================================================================*/


/* ===================================================================
                            Dashboard Content CSS Start
====================================================================*/
.dashboard-content-area{
  display: flex;
  column-gap: 40px;
  justify-content: center;
  padding-bottom: 30px;
}
.aggiornamenti-area{
  max-width: 412px;
  width: 100%;
}
.ombrelloni-area{
  max-width: 804px;
  width: 100%;
}
.dashboard-content-title{
  padding: 32px 0;
  text-align: center;
}
.aggiornamenti-card{
  padding: 16px;
  border-radius: 20px;
  background: #FFF;
  height: 552px;
  overflow-y: scroll;
}
.aggiornamenti-card::-webkit-scrollbar {
  width: 0;
}
.aggiornamenti-card-single{
  padding-bottom: 26px;
}
.aggiornamenti-card-single:not(:first-child){
  padding-top: 26px;
}
.aggiornamenti-card-single:not(:last-child){
  border-bottom: 1px solid rgba(217, 217, 217, 0.40);
}
.aggiornamenti-card-single .text_20{
  padding: 6px 0;
}
.aggiornamenti-profile{
  display: flex;
  column-gap: 4px;
  align-items: center;
}
.aggiornamenti-profile img{
  width: 16px;
  height: 18px;
}

.ombrelloni-card{
  border-radius: 60px;
  background: #FFF;
  display: flex;
  height: 552px;
  overflow-y: scroll;
}
.ombrelloni-card::-webkit-scrollbar {
  width: 0;
}
.disponibili-area ,
.venduti-area{
  flex-basis: 50%;
}
.disponibili-content ,
.venduti-content{
  padding: 26px 37px;
}
.disponibili-content{
  border-right: 1px solid rgba(217, 217, 217, 0.40);
}
.disponibili-title ,
.venduti-title{
  padding: 10px;
  text-align: center;
}
.disponibili-title .pera_text{
  color: #1DAE3D;
}
.venduti-title .pera_text{
  color: #2F65C6;
}

.aggiornamenti-profile-flex{
  display: flex;
  justify-content: space-between;
}
.aggiornamenti-profile-flex>.pera_text{
  color: #222;
}
.ombrelloni-footer{
  padding-top: 16px;
  display: flex;
  justify-content: center;
}
.ombrelloni-footer .pera_text{
  text-decoration: underline;
  text-align: center;
  transition: .3s;
}

/* Ombrelloni Slider CSS */
.ombrelloni-slider-area{
  padding-bottom: 30px;
  display: none;
}
.disponibili-slider-title{
  padding: 12px 0 18px;
}
.disponibili-slider-title .pera_text{
  color: #1DAE3D;
}
.disponibili-venduti-group{
  border-radius: 20px;
  background: #FFF;
  padding: 16px;
  display: flex;
  align-items: center;
  max-width: 712px;
  width: 100%;
}
.disponibili-venduti-group .aggiornamenti-card-single{
  flex-basis: 50%;
  padding-bottom: 0;
  padding-top: 0;
  border-bottom: 0;
}
.disponibili-venduti-group .aggiornamenti-card-single .balance-text{
  color: #222;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
}
.disponibili-venduti-group .aggiornamenti-card-single:nth-of-type(1){
  padding-right: 15px;
  border-right: 1px solid rgba(217, 217, 217, 0.40);
}
.disponibili-venduti-group .aggiornamenti-card-single:nth-of-type(2){
  padding-left: 15px;
}
.venduti-slider-title{
  padding: 18px 0 12px 0;
}
.venduti-slider-title .pera_text{
  color: #2F65C6;
}


/* ===================================================================
                            Dashboard Content CSS End
====================================================================*/


/* ===================================================================
                    Nuova Prenotazione Page CSS Start
====================================================================*/
.nuova_prenotazione_form{
  background: #FFF;
  padding: 24px;
  border-radius: 20px;
}
.nuova_prenotazione_title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}
.nuova_prenotazione_title p{
  color: #2F65C6;
  font-size: 16px;
  font-weight: 400;
}
#nuova_prenotazione_close{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background: #898685;
  border-radius: 50px;
  color: #FFF;
  cursor: pointer;
}
.Nuova_input{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.nuova_form{
  display: flex;
  gap: 20px 100px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.nuova_button_right{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.item_wrap{
  display: flex;
  flex-wrap: wrap;
}
.calender_date {
  max-width: 376px;
  width: 100%;
}
.add_input_item {
  margin-bottom: -30px;
}
/* ===================================================================
                    Nuova Prenotazione Page CSS End
====================================================================*/

/* ===================================================================
                  Nuova Abbonamento Page CSS Start
====================================================================*/
.mobile_nav_tabe .nav{
  display: none;
  justify-content: center;
  gap: 10px;
}
.mobile_email_block{
  display: none;
  margin-top: -20px;
}
.calender_date #barra_tab_input{
  max-width: 377px;
  width: 100%;
}
.email_input{
  width: 100%;
}
.Subscription_input_main{
  max-width: 180px;
  width: 100%;
}
.Subscription_input{
  max-width: 180px;
  min-width: 110px;
  width: 100%;
}
.mobile_label_none{
  visibility: hidden;
}
/* ===================================================================
                  Nuova Abbonamento Page CSS End
====================================================================*/

/* Footer area css start */
.footer_area{
  border-bottom: 1px solid #89868534;
  margin-bottom: 50px;
}
.footer_content{
  text-align: center;
  padding-bottom: 160px;
  padding-top: 16px;
}
.footer_content .pera_text{
  padding-bottom: 6px;
}
.footer_content .pera_text a{
  color: #2F65C6;
  text-decoration: underline;
}



/* ===================================================================
                        Form Modal Css Start
====================================================================*/
.form-modal .modal-content{
  border-radius: 20px;
  box-shadow: 0px 16px 82px 0px rgba(0, 0, 0, 0.32);
  border: none;
}
.form-modal .credito-form-area form input[type="submit"] {
  background: rgb(47, 101, 198);
}
.form-modal .credito-form-area form input[type="submit"]:hover {
  background: rgb(24, 81, 185);
}
.dati-wallet-area .dati-title .pera_text {
  cursor: pointer;
}
/* ===================================================================
                        Form Modal Css End
====================================================================*/


/* ===================================================================
                        Wallet Page Css Start
====================================================================*/
.wallet-saldo-area{
  max-width: 1256px;
  width: 100%;
  margin: auto;
  padding: 32px 0;
}
.wallet-saldo-flex{
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-radius: 20px;
  background: #FFF;
  padding: 24px;
}
.wallet-saldo-left .text_20{
  color: #898685;
  padding-bottom: 6px;
}
.wallet-saldo-left .text_64{
  color: #222;
}



.wallet-storico-title{
  padding-bottom: 20px;
}
.wallet-year-title{
  padding-bottom: 16px;
}
.wallet-storico-area{
  max-width: 1256px;
  width: 100%;
  margin: auto;
}
.daynamic-table-footer{
  display: flex;
  align-items: end;
  justify-content: flex-end;
  column-gap: 22px;
  padding: 22px 0 30px 0;
}
.single-wallet-table .daynamic_table {
  padding: 0px;
  display: block;
}
.single-wallet-table .daynamic_table .table-img{
  display: flex;
  column-gap: 1px;
}
.single-wallet-table .daynamic_table .table-img img{
  width: 22px;
  height: 24px;
}
.daynamic_table .table>:not(caption)>*>* {
  padding: 24px;
}
.daynamic_table .table>thead tr th {
  padding: 24px 24px 12px 24px;
}
.single-wallet-table .daynamic_table .width-class {
  max-width: 100px;
  width: 27%;
}
/* ===================================================================
                        Wallet Page Css End
====================================================================*/


/*============================ Last update css ==================== */
.success_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success_circle{
  margin-top: 20px;
  margin-bottom: 10px;
  height: 100px;
  width: 100px;
  background: #2F65C6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 40px;
  border-radius: 50px;
}





/* ===================================================================
                        Calender Customize Css Start
====================================================================*/

/* remove default browser placeholder when not focused */
.barra_tab_input input[type='date']:not(:focus):in-range::-webkit-datetime-edit-year-field,
.barra_tab_input input[type='date']:not(:focus):in-range::-webkit-datetime-edit-month-field,
.barra_tab_input input[type='date']:not(:focus):in-range::-webkit-datetime-edit-day-field,
.barra_tab_input input[type='date']:not(:focus):in-range::-webkit-datetime-edit-text {
    color: #999;
}


  /* iOS fix for text alignment */
.barra_tab_input input::-webkit-date-and-time-value {
    text-align: left;
    color: #000;
}

  /* iOS date-placeholder fix */
.barra_tab_input input[type='date']:not(:focus):empty:after {
    position: absolute;
    content: attr(placeholder);
}
/* ===================================================================
                        Calender Customize Css End
====================================================================*/